.quiz {
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
}

.quiz .options {
    list-style: none;
}

.quiz .options .item {
    display: inline-block;
    margin-left: 1rem;
    border: 1px solid dimgrey;
    padding: 0 1rem 0.7rem 1rem;
}

.quiz .body {
    text-align: left;
    width: 50rem;
    margin-right: auto;
    margin-left: auto;
}

.quiz .blank {
    display: inline-block;
    vertical-align: bottom;
    border-bottom: 2px solid black;
    width: 8rem;
    line-height: 3rem;
    height: 3rem;
    text-align: center;
}

.quiz .chinese {
    display: inline-block;
}

.quiz .pinyin {
    font-size: 0.9rem;
    display: block;
    line-height: 1rem;
    margin-top: 0.7rem;
}

.quiz p {
    margin: 0.5rem auto;
}