.two-ancient-poems-container {
    font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
}
.two-ancient-poems-container h1 {
    font-size: 3rem;    
}

.two-ancient-poems-container h1 .pinyin {
    font-size: 1.63rem;
    margin-bottom: 0.6rem;
}

.two-ancient-poems-container table {
    margin: 2rem auto;
}

.two-ancient-poems-container table.topics {
    width: 75%;
}

.two-ancient-poems-container .topics .highlight {
    position: absolute;
    line-height: 3.5rem;
    width: 2rem;
    color: red;
}

.two-ancient-poems-container table td {
    height: 8rem;
    width: 8rem;
}

.two-ancient-poems-container table.topics td {
    height: 5rem;
}

.two-ancient-poems-container table .id-column {
    width: 5%;
}

.two-ancient-poems-container table .sentences {
    width: 75%;
    text-align: left;
    padding-left: 2rem;
}

.two-ancient-poems-container .tick-or-cross a {
    text-decoration: none;
    color: lightgrey;
    font-size: 3rem;
    margin: auto 1rem;
}

.two-ancient-poems-container .tick-or-cross a:hover,
.two-ancient-poems-container .tick-or-cross a.selected {
    color: black;
}

.two-ancient-poems-container table .options {
    width: 60%;
}

.two-ancient-poems-container table .options ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.two-ancient-poems-container table .options li {
    display: inline-block;
    width: 33%;
    text-align: left;
}

.two-ancient-poems-container table .options a {
    color: black;
    text-decoration: none;
}

.two-ancient-poems-container table .options a:hover,
.two-ancient-poems-container table .options a.selected {
    cursor: pointer;
    background-color: yellow;
}

.two-ancient-poems-container table .container {
    display: inline-block;
    margin-left: 0.75rem;
}

.two-ancient-poems-container table .container .pinyin {
    text-align: center;
}

.two-ancient-poems-container .pinyin {
    font-size: 1rem;
    display: block;
}

.two-ancient-poems-container .droptarget {
    border: 1px dotted lightgrey;
    display: inline-block;
    width: 3.5rem;
    height: 4rem;
    line-height: 4rem;
}

.two-ancient-poems-container .not-belong .droptarget {
    width: 7rem;
}
.two-ancient-poems-container .droptarget.highlighted {
    background-color: lightyellow;
}

.two-ancient-poems-container .droptarget .blank {
    display: inline-block;
}