.App {
  text-align: center;
  background-color: beige;
  min-height: 10rem;
  min-width: 20rem;
  margin: 2rem;
}

.App table {
  width: 100%;
}
.App thead {
  font-weight: bold;
}
.App td {
  height: 2rem;
}
.App tbody tr:nth-child(odd){
  background-color: floralwhite;
}

.App tbody tr:hover {
  background-color: peachpuff;
}

.App .chinese-name,
.App .english-name {
  width: 15%
}
.App .url {
  width: 25%;
}
.App .results {
  width: auto;
}
.App .Elaspe {
  width: 15%;
}
