.BabyWhiteCloud {
  text-align: center;
  background-color: beige;
  min-height: 10rem;
  min-width: 20rem;
  margin: 2rem;
}

.BabyWhiteCloud table {
  width: 100%;
}
.BabyWhiteCloud thead {
  font-weight: bold;
}
.BabyWhiteCloud td {
  height: 2rem;
}
.BabyWhiteCloud tbody tr:nth-child(odd){
  background-color: floralwhite;
}

.BabyWhiteCloud tbody tr:hover {
  background-color: peachpuff;
}

.BabyWhiteCloud .chinese-name {
  width: 15%;
}
.BabyWhiteCloud .english-name {
  width: 9%
}
.BabyWhiteCloud .url {
  width: auto;
  white-space: nowrap;
}
.BabyWhiteCloud .results {
  width: auto;
  white-space: nowrap;
}
.BabyWhiteCloud .Elapse {
  width: 15%;
}
